<a href="https://colab.research.google.com/github/csaatechnicalarts/ML_Bootcamp/blob/main/Pandas_03_DataFrameIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#03 Pandas Data Structure: Data Frame

In Pandas, a *data frame* is a two-dimensional structure analogous to tabulated data enclosing rows and columns. The header of a data frame series is known as the *column* while the header of a data frame row is known as an *index*.

In [24]:
import pandas as pd

In [28]:
df = pd.read_csv("sample_data/ww2_leaders.csv")
print(f"Type of df: {type(df)}\n")
df

Type of df: <class 'pandas.core.frame.DataFrame'>

,Name,Born,Died,Age,Title,Country
0,Franklin Roosevelt,1882-01-30,1945-04-12,63,President,United States
1,Joseph Stalin,1878-12-06,1953-03-05,74,Great Leader,Soviet Union
2,Adolph Hitler,1889-04-20,1945-04-30,56,Fuhrer,Germany
3,Michinomiya Hirohito,1901-04-29,1989-01-07,87,Emperor,Japan
4,Charles de Gaulle,1890-11-22,1970-11-09,79,President,France
5,Winston Churchill,1874-11-30,1965-01-24,90,Prime Minister,United Kingdom
6,Manuel Camacho,1897-04-24,1955-10-13,58,President,Mexico
7,Jan Smuts,1870-05-24,1950-09-11,80,Prime Minister,South Africa
8,Ibn Saud,1875-01-15,1953-11-09,78,King,Saudi Arabia
9,Plaek Phibunsongkhram,1897-07-14,1965-06-11,66,Prime Minister,Thailand
10,John Curtin,1885-01-08,1945-07-05,60,Prime Minister,Australia
11,Haile Selassie,1892-07-23,1975-08-27,83,Emperor,Ethiopia

In our input file for heads of state during World War 2, **["Name", "Born", "Died", "Age", "Title", "Country"]** make up the list of data frame columns. By default Pandas supplies the indices, labeling the row headers from zero onwards.

Pandas allows us to isolate specific rows and columns.

In [43]:
df['Name']

0        Franklin Roosevelt
1             Joseph Stalin
2             Adolph Hitler
3      Michinomiya Hirohito
4         Charles de Gaulle
5         Winston Churchill
6            Manuel Camacho
7                 Jan Smuts
8                  Ibn Saud
9     Plaek Phibunsongkhram
10              John Curtin
11           Haile Selassie
Name: Name, dtype: object

In [42]:
df.loc[10]

Name          John Curtin
Born           1885-01-08
Died           1945-07-05
Age                    60
Title      Prime Minister
Country         Australia
Name: 10, dtype: object

In most Pandas tutorials, an individual column in a data frame is a Pandas *series*. But we have to more flexible with that definition, as Pandas reports both the type of a row and the type of a column as *series*. It's probably best to think of a series as a vector of data -- heterogenous data in a row, and homogeneous data in a column -- with an attached header, called "index" and "column".

In [45]:
print(type(df['Name']))

<class 'pandas.core.series.Series'>

In [46]:
print(type(df.loc[0]))

<class 'pandas.core.series.Series'>